    {% extends 'base.html' %}
    {% load static %}

    {% block title %}
    <title>chewinggum</title>
    {% endblock %}

    {% block css %}
    <!-- side CSS -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/mfb.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    {% endblock %}
    
    {% block main %}
    <!-- side nav -->
    <ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
      <a href="#" class="mfb-component__button--main">
        <i class="mfb-component__main-icon--resting ion-plus-round"></i>
        <i class="mfb-component__main-icon--active ion-close-round"></i>
      </a>
      <ul class="mfb-component__list">
        <li>
          <a href="https://github.com/nobitagit/material-floating-button/" data-mfb-label="View on Github" class="mfb-component__button--child">
            <i class="mfb-component__child-icon ion-social-github"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/nobitagit" data-mfb-label="Follow me on Github" class="mfb-component__button--child">
            <i class="mfb-component__child-icon ion-social-octocat"></i>
          </a>
        </li>

        <li>
          <a href="http://twitter.com/share?text=Check this material floating button component!&url=http://nobitagit.github.io/material-floating-button/&hashtags=material,design,button,css"
              data-mfb-label="Share on Twitter" class="mfb-component__button--child">
            <i class="mfb-component__child-icon ion-social-twitter"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>

    <!-- Content Zone -->
    <div id="container">
        <div class="row">
            <div class="offset-md-2 col-md-8 text-center title">
                {{ post.title }}
            </div>
        </div>
        <div class="row">
          <div class="offset-md-2 col-md-8">
            <div class="tag">作者：{{ post.owner }} &nbsp;时间：{{ post.created_time }}</div>
          </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-8">
              <p>{{ post.content }}</p>
            </div>
        </div>
    </div>  
    {% endblock %}

    {% block js %}
    <!-- side JS -->
    <script src="{% static 'js\jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js\mfb.js' %}"></script>
    {% endblock %}
