<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="D:\qijia\static\css\bootstrap.css">
    <link rel="stylesheet" href="D:\qijia\static\css\common.css">
    <link rel="stylesheet" href="D:\qijia\static\css\detail.css">
  </head>
  <body>
    <header class="header-left">
        <div class="logo">
            <a href="#home">
                <img src="D:\qijia\static\images\logo.jpg" alt="qijia">
            </a>
        </div>
        <div class="menu">
            <a href="#about_us">关于我</a>
            <a href="#contact">联系我</a>
        </div>
    </header>
    <header class="header-right">
        <div class="menu">
            <a href="#sign in">登录</a>
            <a href="#sign up">注册</a>
        </div>
        <div>
            <form method="GET" id="header-search">
                <input type="text" name="keyword" placeholder="探索知识海洋">
            </form>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sideBar">
                    <div class="border">
                        <div class="kind-left">&nbsp;&nbsp;其他频道</div>
                        <ul>
                            <li><a href="#">CSDN</a></li>
                            <li><a href="#">CSDN</a></li>
                            <li><a href="#">CSDN</a></li>
                            <li><a href="#">CSDN</a></li>
                        </ul>
                    </div>
                    <div class="border">
                        <div class="kind-left">&nbsp;&nbsp;最新文章</div>
                        <ul>
                            <li><a href="#">文章1</a></li>
                            <li><a href="#">文章1</a></li>
                            <li><a href="#">文章1</a></li>
                            <li><a href="#">文章1</a></li>
                        </ul>
                    </div>
                    <div class="border">
                        <div class="kind-left">&nbsp;&nbsp;相关文章</div>
                        <ul>
                            <li><a href="#">文章1</a></li>
                            <li><a href="#">文章1</a></li>
                            <li><a href="#">文章1</a></li>
                            <li><a href="#">文章1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 main">
                <div class="title" id="top">文章标题</div>
                <div class="info">
                    <span>作者:qijia</span>
                    <span>发表时间:2018-9-10</span>
                    <span>分类:机器学习</span>
                    <span>浏览:1888</span>
                    <span>评论数:24</span>
                </div>
                <div class="content">
                    做爬虫的同学肯定或多或少会为验证码苦恼过，
                    在最初的时候，大部分验证码都是图形验证码。
                    但是前几年「极验」验证码横空出世，行为验
                    证码变得越来越流行，其中之一的形式便是滑
                    块验证码。<br>
                    做爬虫的同学肯定或多或少会为验证码苦恼过，
                    在最初的时候，大部分验证码都是图形验证码。
                    但是前几年「极验」验证码横空出世，行为验
                    证码变得越来越流行，其中之一的形式便是滑
                    块验证码。<br>
                    做爬虫的同学肯定或多或少会为验证码苦恼过，
                    在最初的时候，大部分验证码都是图形验证码。
                    但是前几年「极验」验证码横空出世，行为验
                    证码变得越来越流行，其中之一的形式便是滑
                    块验证码。<br>
                    做爬虫的同学肯定或多或少会为验证码苦恼过，
                    在最初的时候，大部分验证码都是图形验证码。
                    但是前几年「极验」验证码横空出世，行为验
                    证码变得越来越流行，其中之一的形式便是滑
                    块验证码。<br>
                    做爬虫的同学肯定或多或少会为验证码苦恼过，
                    在最初的时候，大部分验证码都是图形验证码。
                    但是前几年「极验」验证码横空出世，行为验
                    证码变得越来越流行，其中之一的形式便是滑
                    块验证码。<br>
                    做爬虫的同学肯定或多或少会为验证码苦恼过，
                    在最初的时候，大部分验证码都是图形验证码。
                    但是前几年「极验」验证码横空出世，行为验
                    证码变得越来越流行，其中之一的形式便是滑
                    块验证码。<br>
                    做爬虫的同学肯定或多或少会为验证码苦恼过，
                    在最初的时候，大部分验证码都是图形验证码。
                    但是前几年「极验」验证码横空出世，行为验
                    证码变得越来越流行，其中之一的形式便是滑
                    块验证码。<br>
                    做爬虫的同学肯定或多或少会为验证码苦恼过，
                    在最初的时候，大部分验证码都是图形验证码。
                    但是前几年「极验」验证码横空出世，行为验
                    证码变得越来越流行，其中之一的形式便是滑
                    块验证码。<br>
                    做爬虫的同学肯定或多或少会为验证码苦恼过，
                    在最初的时候，大部分验证码都是图形验证码。
                    但是前几年「极验」验证码横空出世，行为验
                    证码变得越来越流行，其中之一的形式便是滑
                    块验证码。<br>
                    做爬虫的同学肯定或多或少会为验证码苦恼过，
                    在最初的时候，大部分验证码都是图形验证码。
                    但是前几年「极验」验证码横空出世，行为验
                    证码变得越来越流行，其中之一的形式便是滑
                    块验证码。<br>
                </div>
            </div>
            <div class="col-md-1">
                <footer class="back2top">
                    <a href="#top">WEIXIN</a>
                </footer>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="D:\qijia\static\js\jquery.slim.min.js"></script>
    <script src="D:\qijia\static\js\popper.min.js"></script>
    <script src="D:\qijia\static\js\bootstrap.js"></script>
  </body>
</html>