<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="D:\qijia\static\css\bootstrap.css">
    <link rel="stylesheet" href="D:\qijia\static\css\index.css">
    <link rel="stylesheet" href="D:\qijia\static\css\common.css">
    <link rel="stylesheet" href="D:\qijia\static\css\slideshow.css">
  </head>
  <body>
    <!-- 背景轮播 -->
    <div class="pic-wrapper">
      <figure class="pic-1"></figure>
      <figure class="pic-2"></figure>
      <figure class="pic-3"></figure>
      <figure class="pic-4"></figure>
    </div>
    <header class="header-left">
        <div class="logo">
            <a href="#home">
                <img src="D:\qijia\static\images\logo.jpg" alt="qijia">
            </a>
        </div>
        <div class="menu">
            <a href="#about_us">关于我</a>
            <a href="#contact">联系我</a>
        </div>
    </header>
    <header class="header-right">
        <div class="menu">
            <a href="#sign in">登录</a>
            <a href="#sign up">注册</a>
        </div>
        <div>
            <form method="GET" id="header-search">
                <input type="text" name="keyword" placeholder="探索知识海洋">
            </form>
        </div>
    </header>
    <div id="fullpage" data-XSwitch>
        <div class="sections">
            <div class="section">
                <div id="latest" class="carousel slide carousel-fade" data-ride="carousel">
                  <!-- 指示符 -->
                  <ul class="carousel-indicators">
                    <li data-target="latest" data-slide-to="0" class="active"></li>
                    <li data-target="latest" data-slide-to="1" class="active"></li>
                    <li data-target="latest" data-slide-to="2" class="active"></li>
                  </ul>
                  <!-- 轮播内容 -->
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                        <h4 class="title">最新文章</h4>
                        <div class="row">
                          <div class="col-md-4 card">
                            <div class="card-body">
                              <h6 class="card-title">Card Title</h6>
                              <p class="card-text">
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                              </p>
                              <a href="#" class="card-link">Card Link</a>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-12 card">
                            <div class="card-body">
                              <h6 class="card-title">Card Title</h6>
                              <p class="card-text">
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                              </p>
                              <a href="#" class="card-link">Card Link</a>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-12 card">
                            <div class="card-body">
                              <h6 class="card-title">Card Title</h6>
                              <p class="card-text">
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                              </p>
                              <a href="#" class="card-link">Card Link</a>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-12 card">
                            <div class="card-body">
                              <h6 class="card-title">Card Title</h6>
                              <p class="card-text">
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                              </p>
                              <a href="#" class="card-link">Card Link</a>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-12 card">
                            <div class="card-body">
                              <h6 class="card-title">Card Title</h6>
                              <p class="card-text">
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                              </p>
                              <a href="#" class="card-link">Card Link</a>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-12 card">
                            <div class="card-body">
                              <h6 class="card-title">Card Title</h6>
                              <p class="card-text">
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                                Some examole text. Some example text.
                              </p>
                              <a href="#" class="card-link">Card Link</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="D:\qijia\static\image\background.jpg">
                      </div>            
                  </div>
                  <!-- 左右切换按钮 -->
                  <a class="carousel-control-prev" href="#latest" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#latest" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
            </div>
            <div class="section">2</div>
            <div class="section">3 </div>
            <div class="section">4</div>
        </div>
    </div>
    <footer class="footer-right">
        <a href="#">WEIXIN</a>
        <a href="#">QQ</a>
        <a href="#">GITHUB</a>
    </footer>
    <footer class="footer-left">
        <a href="#section0">静觅</a>
        <a href="#section1">the5fire</a>
        <a href="http://www.jq22.com/demo/jqueryCyMoban201803051139/#register">Bientot</a>
    </footer>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="D:\qijia\static\js\jquery.slim.min.js"></script>
    <script src="D:\qijia\static\js\popper.min.js"></script>
    <script src="D:\qijia\static\js\bootstrap.js"></script>
    <script src="D:\qijia\static\js\jquery.223.min.js"></script>
    <script src="D:\qijia\static\js\XSwitch-Annotation.js"></script>
  </body>
</html>